.selling{
    height: 120vh;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selling-card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: wheat;
    min-height: 300px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}
.selling-left {
    display: flex;
    flex: 1;
    background: url("https://images.pexels.com/photos/3271989/pexels-photo-3271989.jpeg?auto=compress&cs=tinysrgb&w=600") center;
    background-size: cover;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.selling-left>h1 {
    font-size: 40px;
    line-height: 40px;
}

.selling-left>p {
    font-weight: bold;
    font-size: 14px;
}
.selling-left-btn {
    width: 50%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
    color: coral;
    cursor: pointer;
}
.selling-right {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.selling-right>h1{
    color: coral;
}

.selling-right>form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border:none;
}

.selling-right>form>input {
    border: none;
    border-bottom: 1px solid lightslategray;
    padding: 15px 10px;
    border-radius: 10px;
}

.selling-btn {
    width: 50%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    color: coral;
    font-weight: bold;
    cursor: pointer;
}