.events {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    background-color: burlywood;
    padding: 40px;
    border-radius: 30px;
}

.eventItem {
    position: relative;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}
.eventTitle {
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.eventImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-section,
.bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}