.orders-main {
    padding: 20px;
    background-color: navajowhite;
}

.orders-title {
    font-size: 24px;
    color: salmon;
    margin-bottom: 20px;
}

.orders-card {
    width: 18rem;
    background-color: bisque;
    margin-bottom: 20px;
}

.Card.Title {
    font-size: 18px;
    font-weight: bold;
    color: coral;
}

.Card.Text {
    font-size: 16px;
    color: #333;
}

.user-photo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-photo-placeholder {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    color: #333;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-secondary {
    background-color: salmon;
    color: bisque;
    border: none;
}

.btn-secondary:hover {
    background-color: coral;
}

.btn-danger {
    background-color: #ff6b6b;
    color: bisque;
    border: none;
}

.btn-danger:hover {
    background-color: #ff4040;
}

/* Style pour la boîte de dialogue de confirmation */
.confirmation-dialog {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 400px;
    text-align: center;
}

/* Style pour le bouton de confirmation */
.confirmation-dialog button {
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Style pour le bouton d'annulation */
.confirmation-dialog button.cancel {
    background-color: #337ab7;
}

/* Style pour le texte de la boîte de dialogue */
.confirmation-dialog p {
    margin-bottom: 10px;
}
