.orders-main {
    padding: 20px;
    background-color: navajowhite;
}

.orders-title {
    font-size: 24px;
    color: salmon;
    margin-bottom: 20px;
}

.orders-card {
    width: 18rem;
    background-color: bisque;
    margin-bottom: 20px;
}

.Card.Title {
    font-size: 18px;
    font-weight: bold;
    color: coral;
}

.Card.Text {
    font-size: 16px;
    color: #333;
}

.user-photo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-photo-placeholder {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    color: #333;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-secondary {
    background-color: salmon;
    color: bisque;
    border: none;
}

.btn-secondary:hover {
    background-color: coral;
}

.btn-danger {
    background-color: #ff6b6b;
    color: bisque;
    border: none;
}

.btn-danger:hover {
    background-color: #ff4040;
}
