.changepassword{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.changepassword h1{
    padding: 10px 20px;
}

.changepassword.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.changepassword.form.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.changepassword.form.form-group label{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.changepassword.form.form-group input{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.changepassword.form.form-group input:focus{
    border: 1px solid green;
}