.change-password {
    padding: 30px;
    background-color: lightsalmon;
    border-radius: 10px;
}

.change-pwd-title {
    font-size: 24px;
    color: firebrick;
    margin-bottom: 20px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.change-pwd-form-group {
    margin-bottom: 20px;
}

.change-pwd-form-label {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.change-pwd-form-control {
    font-size: 16px;
    color: #333;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
}

.change-pwd-form-control:focus {
    border-color: coral;
    outline: none;
}

.change-pwd-btn-modif {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #c60b1e;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.change-pwd-btn-modif:hover {
    background-color: coral;
}

.change-pwd-btn-annul {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #c60b1e;
    color: #c60b1e;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.change-pwd-btn-annul:hover {
    background-color: #c60b1e;
    color: white;
}
