.user-sidebar {
    background-color: bisque;
    width: 250px;
    padding: 20px;
}

.user-section{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-section:hover {
    background-color: coral;
    color: bisque;
}

svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.user-account-span {
    font-size: 16px;
    color: firebrick;
    font-weight: bold;
}

.link-style {
    text-decoration: none;
    color: inherit;
}
