.user-profile {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user-profile-in {
    display: flex;
    flex: 1;
    padding: 20px;
}

.user-profile-left {
    width: 250px;
}

.user-profile-right {
    flex: 1;
    background-color: salmon;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-profile-right h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
