.header {
    background-color: lightsalmon;
    color: white;
    display : flex;
    justify-content: center;
    border-radius: 10px;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 20px 0px;
}

.headerList {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 20px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDescr{
    margin: 10px 0px 20px 0px;
}

.headerTitle {
    margin-top: 40px;
}
