.navbar {
    width: 100%;
    background-color:darkred;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.navContainer {
    display: flex;
    width: 100%;
    max-width: 1250px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-weight: bold;
    font-size: xx-large;
}

.navButton {
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: antiquewhite;
    color: maroon;
    border-radius: 10px;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    padding: 5px;
    margin-right: 10px;
}
