.mail {
    width: 100%;
    max-width: 1280px;
    background-color: coral;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}
.mail-descr {
    margin-bottom: 5px;
}
.mail-input-container>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.mail-input-container>button {
    height: 50px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}