.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: burlywood;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-custom-bg {
  background-color: #b86227;
  padding: 20px;
}

.my-card-bg {
  background-color: #70370f;
  padding: 20px;
}
.btn-actions {
  text-align: center;
}

.td-btn {
  width: 5%;
}
.btn-size {
  width: 105px;
  height: 50px;
}
.bg-image {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/68.jpg');
  /*background-size: 1000px;*/
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: bottom;*/
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  padding: 20px;
  width: 100%;
  min-height: 100%;
}

.footer {
  position: absolute;
  margin:0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #70370f;
}
body {
  overflow-x: hidden;
}